.color-white {
	color: white;
}

.text-center {
	text-align: center;
}

.text-success {
	color: $color-success;
}

.text-error {
	color: $color-error;
}

.text-bold {
	font-weight: bold;
}

.is-vertical-center {
	display: flex;
	align-items: center;
}
