$font-family-serif: "Roboto Slab";
$font-family-sans-serif: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-primary: $font-family-sans-serif;
$font-family-primary-serif: $font-family-serif;

$font-size: 16px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-1: 3rem;
$font-size-2: 2.5rem;
$font-size-3: 2rem;
$font-size-4: 1.5rem;
$font-size-5: 1.25rem;
$font-size-6: 1rem;
$font-size-7: 0.75rem;

$font-size-small: $font-size-7;
$font-size-normal: $font-size-6;
